<html>
<head>
    <link rel="stylesheet" href="../css/custom.css" type="text/css">
    <link rel="stylesheet" href="css/custom.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' />
</head>
<body>
    <div class="container">
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">&nbsp</h3>

                            <ul class="nav masthead-nav">
                                <p class="active">
                                    &nbsp
                                </p>

                                <p>
                                    &nbsp<!-- index -->
                                </p>

                                <p>
                                    &nbsp
                                </p>
                            </ul>
                        </div>
                    </div>

                    <div class="inner cover">
                        <div class="main">
                            <h1 class="cover-heading header">Welcome to Restaurant Reviewer</h1>

                            <p class="lead">




                                <h2>{{ cuisine.getType }} Cuisine</h2>

                                {% if restaurants is not empty %}
                                <p>Reviewed Restaurants:</p>

                                <ul>
                                    {% for restaurant in restaurants %}
                                    <li>{{ restaurant.getName }}</li>
                                    <ul>
                                        <li>{{ restaurant.getDescription }}</li>
                                    </ul>
                                    {% endfor %}
                                </ul>
                                {% endif %}

                                <h4>Add a restaurant:</h4>

                                <form action='/restaurants' method='post'>
                                    <input id='cuisine_id' name='cuisine_id' type='hidden' value='{{ cuisine.getId() }}'>
                                    <label for ='name'>Restaurant Name:</label><br/>
                                    <input id='name' name='name' type='text' placeholder="" required>
                                    <br/>
                                    <label for ='description'>Restaurant Description:</label><br/>
                                    <input id='description' name='description' type='text' required>
                                    <button class="btn-default" type='submit'>Add restaurant</button>
                                </form>

                                <form action="/delete_restaurants" method="post">
                                    <button class="btn-danger" type="submit">Clear</button>
                                </form>

                                <a href="/cuisines/{{ cuisine.getId }}/edit"> <button class="btn-default">Edit this cuisine</button></a>

                                <a href="/"><button class="btn-default">Home</button></a>







                            </p>

                            <!--
                            <p class="lead">Cover is a one-page template for building simple and
                            beautiful home pages. Download, edit the text, and add your own
                            fullscreen background color and photo to make it your own.

                            <small>    <br> <a href="http://bootsnipp.com/iframe/g6GWQ" target=
                            "_blank">Best viewed on full screen</a></small>

                        </p>

                        <p class="lead"><a class="btn btn-lg btn-info" href="#">Learn
                        more</a></p> -->
                    </div>
                </div>
                <div class="mastfoot">
                    <div class="inner">
                        <!-- Validation -->

                        <p>&nbsp</p>


                        <p>&nbsp</p>



                        <p>&nbsp</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
